# Ignora tudo
*

# Reinclui o que deve ir pro repo
!.gitignore
!README.md
!ghost_of_gov.py

# Permite a pasta dist…
!dist/
# …mas ignora tudo dentro dela…
dist/**
# …exceto o executável
!dist/Ghost-of-Gov.exe
